.root {
    -fx-background-color: #121212;
    -fx-font-family: "Segoe UI";
}

.btn-success {
    -fx-background-color: #00c853;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.btn-success:hover { -fx-background-color: #00b140; }

.btn-danger {
    -fx-background-color: #d50000;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.btn-danger:hover { -fx-background-color: #c40000; }